body{
    background-color: rgb(10, 87, 87);
}

.container{
    border: 1px solid;
  border-radius: 20px;
  text-align: center;
  width: 60%;
  align-items: center;
  background: #fff;
  font-family:sans-serif;
}
.container h1{
    font-size: 40px;
}

.relogio{
    font-size:  3em;
}

.pausado {
    color: red;
}